.trapezoid {
  position: relative;
  border-top: 80px solid rgba(255, 255, 255, 0.9);
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 130px;
  width: 100%;
  filter: contrast(101%) drop-shadow(0px 35px 50px #ffffff);
  -webkit-filter: contrast(101%) drop-shadow(0px 35px 50px #fff);
  -moz-filter: contrast(101%) drop-shadow(0px 35px 50px #fff);
}

.screen{
position: absolute;
top: 0;
}

.ghe {
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  background-color: white;
}

.gheDaDat {
  background-color: rgba(123, 122, 122);
  cursor: no-drop;
}

.gheDangDat {
  background-color: rgb(18, 176, 18) !important;
}

.gheVip {
  background-color: rgb(228, 74, 8);
}

.gheDaDuocDat {
  background-color: white;
  border: 2px solid orange;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(255,165,0,0.5); 
box-shadow: 0px 0px 10px 5px rgba(255,165,0,0.5);
  color: black;
}

.gheKhachDat{
  background-color: rgb(242,25,191) !important ;
  cursor: no-drop;
}
